/* baidu */
.baidu, .baidu body, .baidu #wrapper, .baidu .container_s {
	min-width: 580px ! important;
	width: 580px ! important;
	overflow: auto;
}
.baidu #content_left,
.baidu #page {
	padding-left: 15px ! important;
}
.baidu .head_nums_cont_outer,
.baidu .hint_toprq_tips,
.baidu #head,
.baidu #content_right,
.baidu #s_tab,
.baidu .nums,
.baidu #rs,
.baidu #leftBlock,
.baidu #foot,
.baidu #page a:not(.n),
.baidu #page strong {
	display: none ! important;
}
.baidu body #page a.n,
.baidu body #page a.n:hover {
	border: none;
	padding: 0 !important;
	display: inline;
}
.baidu body #page {
	margin: 5px 0 5px 0;
}
/* google */
.srp #sfcnt {
	display: none !important;
}
#fbar {
	height: 97px !important;
}
/*bing*/
#sb_form {
	display: none !important;
}
#b_content {
	margin-top: 32px !important;
}
